<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="Szücs Zsolt">

    <title>@ViewData["Title"] - PastebinhezHasonlo</title>
    <!-- Eredeti bootstrap CSS lecserélve. bootswatch.com, theme: lumen (dark)-ra
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    -->
    <link rel="stylesheet" href="~/css/bootswatch.lumen.bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PastebinhezHasonlo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Eredeti téma lecserélése lumen-re itt és a _LoginPartial.cshtml-ben is
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kezdőlap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (User.Identity.IsAuthenticated)
                {
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ShowMyMessages">Aktív üzeneteim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="CreateMessage">Üzenet írása</a>
                        </li>

                        @if (User.IsInRole(Role.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ShowUsers">Felhasználók</a>
                            </li>
                        }
                    </ul>


                </div> @* navbar *@
                }


                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    &copy; 2023
                </div>
                <div class="col-4 text-end">
                    Elérhetőség:
                    <a href="https://github.com/Szucs-Zsolt?tab=repositories" class="link-info">Szücs Zsolt</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
