@{
    ViewData["Title"] = "Home Page";
}
@model Message

<form method="post">
    <div class="row py-4">
        <label asp-for="MessageId"></label>
        <input asp-for="MessageId" class="form-control" placeholder="Kérjük másolja be ide az egyedi üzenetazonosítót..." />
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Index">Üzenet lekérése</button>
</form>

<div>@Model.Msg</div>