@{
    ViewData["Title"] = "Home Page";
}
@model Message

<form method="post">
    <div class="row py-4">
        <label asp-for="MessageId" class="form-label"></label>
        <input asp-for="MessageId" class="form-control" placeholder="Kérjük másolja be ide az egyedi üzenetazonosítót..." />
    </div>
    <div class="row">
    <button type="submit" class="btn btn-primary col-md-3" asp-controller="Home" asp-action="Index">Üzenet lekérése</button>
    </div>
</form>

<div class="row pt-4">
    <textarea asp-for="Msg" rows="10" disabled class="form-control col-12"></textarea>
</div>