<h3>Kérésének feldolgozása közben probléma lépett fel:</h3>
<br />
<h4 class="text-center">@ViewBag.ErrorMessage</h4>

<div class="row">
    <div class="col-8"></div>
    <a class="btn btn-primary mt-4 text-center col-4" asp-controller="Home" asp-action="Index">Vissza a főoldalra</a>
</div>