<h3>Az üzenet azonosítója:</h3>
<br />
<h1 class="text-center">@ViewBag.MessageId</h1>

<div class="row">
    <a class="btn btn-primary mt-4 text-center col-4" asp-controller="Home" asp-action="Index">Vissza a főoldalra</a>
    <div class="col-4"></div>
    <a class="btn btn-primary mt-4 text-center col-4" asp-controller="Home" asp-action="ShowMyMessages">Vissza az aktív üzenetekhez</a>
</div>